html, body {
    height: 100vh;
    margin: -8px;
    padding: 0;
    background-color: rgb(36, 38, 56);
}

.rotate-label {
  font-family: 'Alegreya Sans SC';
  font-size: 8vh;
  font-weight: 100;
  color:rgb(182, 182, 182);
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 22vh;
  text-align: center;
}

.gif {
  width: 70%;
  height: 53%;
  position: absolute;
  left: 15%
}

.rotate-screen-div {
  width:50%;
  height:0;
  padding-bottom:55%;
  position:relative;
  top:30vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
    font-family: 'Alegreya Sans SC';
    font-size: 13vh;
    font-weight: 100;
    color:rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    position: relative;
    top: 9vh;
}

.input-rect {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 12vh;
  width: 55vw;
  height: 15.8vh;
  background-color: rgba(118, 119, 132, 0.214);
  border-radius: 8px;
}

textarea {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 49vw;
    top: 2.2vh;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    outline: none;
    border-radius: 8px;
    font-family: 'Alegreya Sans SC';
    font-size: 3vh;
    font-weight: 300;
    padding-right: 20px;
    color:rgb(182, 182, 182);
    resize: none;
}

textarea::placeholder {
  position: relative;
  font-family: 'Alegreya Sans SC';
  font-size: 3vh;
  font-weight: 300;
  color:rgb(182, 182, 182);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(182, 182, 182); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(36, 38, 56, 0.425); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 38, 56);
}

.keyboard {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 16vh;
  width: 60vw;
  height: 39vh;
}

.button-txt {
  position: absolute;
  left: 6px;
  top: 3px;
}

.button-txt:hover {
  cursor: pointer;
}

.button {
  border-style: solid;
  border-color: rgba(118, 119, 132, 0.214);
  border-width: 2px;
  border-radius: 8px;
  width: 6%;
  height: 7vh;
  font-family: 'Alegreya Sans SC';
  font-size: 2.4vh;
  font-weight: 300;
  color:rgb(182, 182, 182);
  position: relative;
}

.button:hover {
  background-color: rgba(118, 119, 132, 0.214);
  cursor: pointer;
}

.button-clicked {
  background-color: rgba(159, 160, 171, 0.214);
}

.button:active {
  background-color: rgba(159, 160, 171, 0.214);
  cursor: pointer;
}

.delete {
  width: 8.6%;
  right: 0vw;
}

.tab {
  width: 8.63%;
}

.caps-lock {
  width: 9.98%;
}

.enter {
  width: 11.6%;
  right: 0vw;
}

.left-shift {
  width: 14.2%;
  left: 0vw;
}

.right-shift {
  width: 14.2%;
  right: 0vw;
}

.space {
  width: 99.6%;
}

.first-row {
  position: absolute;
  top: 0vh;
}

.second-row {
  position: absolute;
  top: 8.3vh;
}

.third-row {
  position: absolute;
  top: 16.6vh;
}

.fourth-row {
  position: absolute;
  top: 24.9vh;
}

.fifth-row {
  position: absolute;
  top: 33.2vh;
}

