
html, body {
  height: 100vh;
  margin: -8px;
  padding: 0;
  background: var(--bg-img) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  transition: .3s;
}

.portrait-bg {
  height: 100vh;
  margin: -8px;
  padding: 0;
  background-color: rgb(17 5 37);
}

.rotate-label {
  font-family: 'Alegreya Sans SC';
  font-size: 8vh;
  font-weight: 100;
  color: rgb(182, 182, 182);
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 22vh;
  text-align: center;
  width: 80%;
}

.gif {
  width: 70%;
  height: 53%;
  position: absolute;
  left: 15%
}

.rotate-screen-div {
  width:50%;
  height:0;
  padding-bottom:55%;
  position:relative;
  top:30vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
    font-family: 'Alegreya Sans SC';
    font-size: 13vh;
    font-weight: 100;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    position: relative;
    top: 5vh;
}

.input-rect {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 8vh;
  width: 55vw;
  height: 15.8vh; 
  background-color: var(--secondary-color);
  border-radius: 8px;
}

textarea {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 49vw;
    top: 2.2vh;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    outline: none;
    border-radius: 8px;
    font-family: 'Alegreya Sans SC';
    font-size: 3vh;
    font-weight: 300;
    padding-right: 20px;
    color: var(--font-color); 
    resize: none;
}

textarea::placeholder {
  position: relative;
  font-family: 'Alegreya Sans SC';
  font-size: 3vh;
  font-weight: 300;
  color: var(--font-color); 
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--font-color); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

.keyboard {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 12vh;
  width: 60vw;
  height: 39vh;
}

.button-txt {
  position: absolute;
  left: 6px;
  top: 3px;
  font-weight: 400;
}

.button-txt:hover {
  cursor: pointer;
}

.button {
  background-color: var(--secondary-color); ;
  border-radius: 8px;
  width: 6.2%;
  height: 7vh;
  font-family: 'Alegreya Sans SC';
  font-size: 2.4vh;
  font-weight: 300;
  color: var(--font-color);;
  position: relative;
}

.button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.button-clicked {
  background-color: var(--active-color);
}

.button:active {
  background-color: var(--active-color);
  cursor: pointer;
}

.delete {
  width: 8.6%;
  right: 0vw;
}

.tab {
  width: 8.63%;
}

.caps-lock {
  width: 9.98%;
}

.enter {
  width: 11.6%;
  right: 0vw;
}

.left-shift {
  width: 14.2%;
  left: 0vw;
}

.right-shift {
  width: 14.2%;
  right: 0vw;
}

.space {
  width: 99.6%;
}

.first-row {
  position: absolute;
  top: 0vh;
}

.second-row {
  position: absolute;
  top: 8.3vh;
}

.third-row {
  position: absolute;
  top: 16.6vh;
}

.fourth-row {
  position: absolute;
  top: 24.9vh;
}

.fifth-row {
  position: absolute;
  top: 33.2vh;
}


.theme-switcher {
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius:  50px;
  display: flex;
  align-items: center;
  gap: 1.7rem;
  cursor: pointer;
  padding: 0.66rem;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 2;
  border: none;
  box-shadow: 0 2px 25px var(--shadow);
  transition: all 0.3s;
}

.theme-switcher:hover {
  box-shadow: 0 2px 25px var(--hover-shadow);
  transition: all 0.3s;
}

.icon {
  width: 24px;
  height: 24px;
  right:8px;
  position: absolute;
}

